{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{ user.get_user_strava_url() }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
        </td>
</table>

<div>
    <canvas id="weeklyTotals"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    const ctx = document.getElementById('weeklyTotals');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels | safe }},
        datasets: [{
            label: "Weekly points"
            data: {{ data }},
        fill: false
        }]
        },
        options: {
        responsive: false
    }
    });
</script>
{% endblock %}